@import url(reset.css);
@import url(font.css);

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');

html{scroll-behavior: smooth;}

body::-webkit-scrollbar{width: 10px;}
body::-webkit-scrollbar-thumb{
  height: 50px;
  background-color: #777;
  border-radius: 10px;
}
body::-webkit-scrollbar-track{background-color: #222;}

body{
  height: 100vh;
  background-color: #444;
  color: #fff;
}
h3{
  font-family: HeirofLightBold;
  font-size: 24px;
  color: #ddd;
}


/* header_______________________________________ */
header{
  position: fixed;
  top: 0;left: calc(50% - 700px);
  z-index: 100;
}
nav{
  width: 1400px; height: 120px;
  padding-top: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
.gnb{
  display: flex;
  column-gap: 80px;
}
.gnb li{
  width: 200px;height: 80px;
  text-align: center;
  line-height: 80px;
  position: relative;
}
.gnb li:before{
  content: '';
  position: absolute;
  top: 0;left: 0;
  width: 100%;height: 100%;
  background: url(../image/menu_black.png) no-repeat center/cover;
  background-size: 80px;
  transform: rotate(270deg);
  z-index: -1;
}
.gnb li a{
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 18px;
  font-family: HeirofLightBold;
  font-weight: 500;
  color: #fff;
  
}
.logo img{
  width: 100px;
}


/* main__________________________________________ */
main{
  height: 100vh;
}

.video-frame video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  
}
.video-frame:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, royalblue 0%, rgba(80, 80, 80, 0.5) 50%, rgba(28, 28, 28, 0.5) 100%);
}

.mainImg{
  width: 100%;
  height: 100vh; 
  position: relative;
}
.mainTitle{
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainTitle h1{
  font-family: HeirofLightBold;
  font-size: 56px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.mainTitle h1 em{
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}


/* section__________________________________________ */
/* section{display: none;} */

#s1{
  width: 100%;height: 900px;
  overflow: hidden;
}
#s1:before{
  content: '';
  background: url(../image/section-bg-full.png) no-repeat center/cover;
  width: 100%; height: 900px;
  position: absolute;
  z-index: -1;
  opacity: 1;
}
.s1wrap{/* __________________________________________ */
  width: 1300px;height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: none;
  position: relative;
  color: #ddd;
}
.s1Middle{
  width: 800px;height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s1Middle h3{
  width: 100%;
  text-align: center;
  border: 1px solid #666;
  border-width: 1px 0;
  padding: 10px 0;
  margin-top: 90px;
  margin-bottom: 10px;
}
.middleVideo{
  width: 100%;
}
.middleVideo iframe{
  width: 100%;height: auto;
  aspect-ratio: 16 / 9;
  border: 0;
  display: block;
}
.middleText{
  width: 100%;
  border: 1px solid #666;
  border-width: 1px 0;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
.middleText div:nth-child(1){
  font-size: 21px;
  font-weight: 600;
}
.middleText div:nth-child(2){
  margin: 10px 0;
  font-size: 16px;
  color: #ccc;
}
.middleText ul{
  display: flex;
  font-size: 14px;
  justify-content: center;
}
.middleText ul li{
  padding: 0 20px;
  border-left: 1px solid rgba(255,255,255,0.1);
  color: #fff;
  font-weight: 500;
}
.middleText ul li span{color: rgba(255,255,255,0.5);}
.middleText ul li:nth-child(1){border: none;}
.s1Left, .s1Right{
  width: 650px;height: 900px;
  position: absolute;
  top: 0;
  display: flex;
  transition: 0.35s;
}
.s1Left h3, .s1Right h3{
  padding: 10px 0;
}
.s1Left{
  right: 100%;
  transform: translateX(100px);
}
.s1Right{
  left: 100%;
  transform: translateX(-100px);
}
.s1Left:hover{transform: translateX(650px);}
.s1Right:hover{transform: translateX(-650px);}
.leftText{
  background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, transparent 100%);
}
.rightText{
  background-image: linear-gradient(to left, rgba(0,0,0,0.5) 0%, transparent 100%);
}
.leftText a, .rightText a{
  display: inline-block;
  width: 100%;height: 100%;
  font-family: HeirofLightBold;
  font-size: 60px;
  padding: 150px 0;
}
.leftText a{
  writing-mode: vertical-lr;
}
.rightText a{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.stillCut{
  width: 550px;height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 150px 30px;
}
.prologue{
  width: 600px;height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 150px 30px;
  position: relative;
}
.stillInner, .prologueInner{
  width: 510px;height: 630px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  box-sizing: border-box;
}
.prologueInner{
  height: 550px;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-45%);
}
.cutimage1{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
}
.cutimage2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
}
.cutimage img{
  width: 100%;height: 100%;
  object-fit: cover;
  font-size: 0;
}
.prologueInner p{
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}
.prologueInner p strong{background-color: rgba(255, 0, 0, 0.6);}


#s2{/* ____________________________________________ */
  width: 100%;height: 900px;
  background: url(../image/ptn_gray.png) repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.itemsWrap{
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 100px;
}
.itemsWrap:before{
  content: 'character profile character profile character profile character profile character profile character profile character profile character profile ';
  width: 1240px;
  white-space: nowrap;
  overflow: hidden;
  color: #c8c8c8;
  font-family: "Libertinus Keyboard", system-ui;
  font-size: 24px;
  letter-spacing: 7px;
  margin-bottom: 10px;
}
.itemsWrap:after{
  content: 'character profile character profile character profile character profile character profile character profile character profile character profile ';
  width: 1240px;
  white-space: nowrap;
  overflow: hidden;
  color: #c8c8c8;
  font-family: "Libertinus Keyboard", system-ui;
  font-size: 24px;
  letter-spacing: 7px;
  margin-top: 10px;
  transform: rotate(180deg);
}

.items1{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}
.items2{
  display: flex;
  column-gap: 8px;
}
.items a{
  border: 1px solid #666;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.1s;
}
.items1 a img{width: 240px;}
.items2 a img{width: 200px;}
.items1 a:hover{
  transform: scale(1.02);
  box-shadow: 0 0 5px rgba(255,255,255,0.7);
}
.items2 a:hover{
  transform: scale(1.02);
  border: 1px solid red;
  box-shadow: 0 0 7px rgba(255, 0, 0, 1);
}


#s3{/* _____________________________________________ */
  width: 100%;height: 1000px;
  background: url(../image/ptn_gray.png) repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#s3:before,#s3:after{
  content: '';
  position: absolute;
  opacity: 0.1;
}
#s3:before{
  background: url(../image/deco_cloud_l.png) no-repeat center/contain;
  top: 240px;left: -130px;
  width: 550px;height: 300px;
}
#s3:after{
  background: url(../image/deco_cloud_r.png) no-repeat center/contain;
  top: 120px;right: -70px;
  width: 500px;height: 200px;
}
.s3Event{
  padding: 25px 50px;
  margin-top: 60px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}
.s3Event h4, .s3Event h2{text-align: center;}
.s3Event h4{
  font-size: 21px;
  color: #c8c8c8;
}
.s3Event h2{
  font-family: HeirofLightBold;
  font-size: 48px;
  margin: 10px 0 20px 0;
}
.eventBottom{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.eventList{
  width: max-content;
  font-size: 18px;
  line-height: 40px;
  column-gap: 60px;
}
.eventList ul li span{
  color: #999;
  padding: 0 20px;
}
.eventList ul em{
  font-style: normal;
  color: gold;
  font-weight: 500;
}
.eventList ul li:nth-child(4){
  display: flex;
  width: max-content;
  line-height: 30px;
}
.eventBtn{
  width: 150px;
  position: relative;
}
.eventBtn a{
  position: absolute;
  width: max-content;height: max-content;
  bottom: 0;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid gold;
  background-color: rgb(255,255,255,0.2);
}
.eventBtn a:hover{
  box-shadow: 0 0 5px gold;
  font-weight: 700;
}

@keyframes chara-ani{
  0%{transform: translateX(0);}
  100%{transform: translateX(50%);}
}
.slide-chara{
  width: 100%;height: 390px;
  margin-top: 30px;
  position: relative;
}
.slide-chara:before{
  content: '';
  position: absolute;
  width: 100%;height: 130px;
  bottom: 0;
  background: linear-gradient(to top, #111 0%, #111 20%, transparent 100%);
}
.row-inner{
  display: flex;
  position: absolute;
  width: max-content;height: inherit;
  right: 0;
  animation: chara-ani 40s linear infinite alternate;
}
.row-inner img{
  height: 350px; width: auto;
}


#s4{/* ____________________________________________ */
  width: 100%;height: 800px;
  background: url(../image/ptn_gray.png) repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s4Inner{
  width: 1300px;height: 650px;
  background-color: rgba(0,0,0,0.3);
  margin-top: 80px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.s4Inner:before{
  content: 'Goods Preview';
  position: absolute;
  top: 15px;left: 100%;
  width: max-content;height: 650px;
  font-family: HeirofLightBold;
  font-size: 48px;
  color: #ddd;
  writing-mode: vertical-rl;
}
.s4Images{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
}
.s4Images div{
  overflow: hidden;
}
.s4Images div img{
  width: 150px;
  filter: brightness(50%);
  transition: 0.35s;
}
.s4Images div:hover img{
  scale: 1.5;
  filter: brightness(100%);
}


/* footer_____________________________________ */
footer{
  width: 100%;height: 100px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}
.fText{
  text-align: center;
  font-size: 12px;
  line-height: 26px;
  color: #999;
}
